<div class="container-new-job">
<h1>Create a job</h1>
    <h2>Add new job listing</h2>
        <%= simple_form_for [@job] do |f| %>
        <%= f.input :job_title,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Job Title" }%>
        <%= f.input :job_description,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Short Description" }%>
        <%= f.input :job_long_description,
                    required: true,
                    autofocus: true,
                    input_html: { class: 'long-description-input', autocomplete: "Long Description" }%>
        <%= f.input :job_location,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Job Location" }%>            
        <%= f.input :job_price,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Job Price" }%>
        <%= f.input :photo,
                    autofocus: true,
                    as: :file %>
        <%= f.submit "CREATE", class: "btn btn-primary" %>
        <% end %>
</div>
