<div class="container-job-show">
    <h1>See Job Listing</h1>
    <div class="">
    <% if @job.photo.attached? %>
        <%= cl_image_tag @job.photo.key, crop: :fill, class: "image-job-show"%>
    <% end %>
    <div class="">
        <div class="">
            <h1 class=""><%= @job.job_title %></h1>
            <p class=""><%= @job.job_description %></p>
            <p class=""><b>R <%= @job.job_price %> </p>
        </div>
    <%= link_to "Apply", class: "button-card"%>
    </div>
  </div>
</div>