<div class="container-job-index">
    <h1>All Users</h1>
    <% @user.each do |user| %>
    <div class="applicant-card">

        <div class="applicant-info">
        <div class="flex">
            <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: "applicant-image-small" %>
            <% end %>
            <div>
                <h3 class="job-card-title"><%= user.fname %> <%= user.lname %></h3>
                <div class="location-icon-width">
                    <i class="fas fa-map-pin icon"><span class="icon-text"><%= user.user_address %></span></i>
                </div>
                <p class="">"<%= user.user_description %>"</p>
                
            </div>
        </div>
            <div class="flex accept-decline">
                    <%= link_to "View Profile", user_path(user), class: "button-card-applicant" %>
                    <%= link_to "Message", class: "button-card-applicant" %>
                </div>
        </div>
    </div>
    <% end %>
</div>
