<div class="container-job-index">
    <h1>All Accepted Applicants</h1>
    <p>All applicants who have been accepted should appear here</p>
    <div class="flex">
        <p>Accepted</p>
        <p> | </p>
        <p>Declined</p>
        <p> | </p>
        <p>Completed</p>
    </div>
    <% @acceptedjobs.each do |accepted| %>
    <div class="applicant-card">

        <div class="applicant-info">
        <div class="flex">
            <% if accepted.user.photo.attached? %>
                <%= cl_image_tag accepted.user.photo.key, class: "applicant-image-small" %>
            <% end %>
            <div>
                <h3 class="job-card-title"><%= accepted.user.fname %> <%= accepted.user.lname %></h3>
                <p class="job-card-description">Applying for: <%= accepted.job.job_title %></p>
                <div class="location-icon-width">
                    <i class="fas fa-map-pin icon"><span class="icon-text"><%= accepted.user.user_address %></span></i>
                </div>
                <p class="">"<%= accepted.message %>"</p>
                
            </div>
        </div>
            <div class="flex accept-decline">
                    <%= link_to "Completed", accept_jobapp_path(accepted), class: "button-card-applicant" %>
                </div>
        </div>
    </div>
    <% end %>
</div>