<div class="container-job-index">
    <h1>All Applicants to my jobs</h1>
    <p>All applicants to your jobs should appear here</p>
    <div class="flex">
        <%= link_to "All", applicant_path(current_user) %>
        <p> | </p>
        <%= link_to "Accepted", accepted_path(current_user) %>
        <p> | </p>
        <%= link_to "Declined", declined_path(current_user) %>
        <p> | </p>
        <%= link_to "Completed", completed_path(current_user) %>
    </div>
    <% @applications.each do |application| %>
    <div class="applicant-card">

        <div class="applicant-info">
        <div class="flex">
            <% if application.user.photo.attached? %>
                <%= cl_image_tag application.user.photo.key, class: "applicant-image-small" %>
            <% end %>
            <div>
                <h3 class="job-card-title"><%= application.user.fname %> <%= application.user.lname %></h3>
                <p class="job-card-description">Applying for: <%= application.job.job_title %></p>
                <div class="location-icon-width">
                    <i class="fas fa-map-pin icon"><span class="icon-text"><%= application.user.user_address %></span></i>
                </div>
                <p class="">"<%= application.message %>"</p>
                
            </div>
        </div>
            <div class="flex accept-decline">
                    <%= link_to "Accept", accept_jobapp_path(application), class: "button-card-applicant" %>
                    <%= link_to "Decline", decline_jobapp_path(application), class: "button-card-applicant" %>
                </div>
        </div>
    </div>
    <% end %>
</div>