<div class="hero-header">
    <div class="hero-image-container">
        <%= image_tag "hero-header-image.jpg", class: "hero-image" %>
    </div>
    <div class="hero-text-container">
        <h1>Anything Goes</h1>
        <h3>Need a job done? Find your perfect candidate today!</h3>
    </div>
</div>

<div class="container-home">
    <h1>A diverse job market place</h1>
    <div class="blurb-container flex space-around">
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Choice</h2>
            <p>Anything Goes is full of candidates and jobs that you can access to get to work or find the right person for your own jobs. All you have to do is signup and provide your experience to get started and make an income!</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Community</h2>
            <p>Anything Goes is a new application, which means our user base is fresh with lots of room to get creative with your job postings or applications. No crazy algorithms to suppress your profile, everyone has a fair chance!</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Growing</h2>
            <p>Anything Goes is a growing community of people who are seeking to work and find workers not matter the job. Since our start, Anything Goes has already built up its own community of hard workers all around the world.</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
    </div>
</div>

<div class="container-home grey">
    <h1>Jobs and Candidates in your area</h1>
    <div class="blurb-container flex space-around">
        <div class="card-home">
            <%= image_tag "icon-example.jpg", class: "card-image" %>
            <div class="padding">
                <h2 class="blurb-heading">Global</h2>
                <p>We give our users the reach to be able to work and find canidates anywhere in the world. Provided you can do the work, it doesn't matter who you or where you work.</p>
                    <%= link_to "Learn more", class: "button-card" %>
            </div>
        </div>
        <div class="card-home">
            <%= image_tag "icon-example.jpg", class: "card-image" %>
            <div class="padding">
                <h2 class="blurb-heading">Control</h2>
                <p>Whether you are deciding on which job to take or how to price your posted job, everything is totally in your control with no fear of being thrown into Anything Goes Prison.</p>
                    <%= link_to "Learn more", class: "button-card" %>
            </div>
        </div>
        <div class="card-home">
            <%= image_tag "icon-example.jpg", class: "card-image" %>
            <div class="padding">
                <h2 class="blurb-heading">Easy</h2>
                <p>Anything Goes is an easy to use, no frills platform. All you need to do is sign up, post a job, apply for a job and accept or decline jobs. The rest is up to you!</p>
                    <%= link_to "Learn more", class: "button-card" %>
            </div>
        </div>
    </div>
</div>

<div class="container-home orange padding-big">
    <h1>From small jobs to big jobs</h1>
    <p>Anything Goes is different from other platforms like Linkedin. With Anything Goes, you are not limited to official jobs. You can find side gigs that help the people you serve to maybe fix a window or take their dogs out on a walk. You could also finf a full time job! In the end, it is all up to you.</p>

</div>

<div class="container-home">
    <h1>Here's what other brands say about us</h1>
    <div class="blurb-container flex space-around">
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Wallstreet</h2>
            <p>"Anything Goes is a refreshing platform that does not limit anyone to work or find workers. We love it and highly recommend it!" - Paulina Wall</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Vice</h2>
            <p>"We always neeed someone to join us on set for small gigs. With Anything Goes, it's really easy to find those people!" - Francesca Schweiger</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">180 Degrees</h2>
            <p>"Our work requires us to do a lot of small jobs. Platforms like Linkedin don't help us, but Anything Goes is perfect!" - Popi Zolas</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
    </div>
</div>

<div class="container-home grey">
    <h1>Testimonials</h1>
    <div class="blurb-container flex space-around">
        <div class="card-home padding">
            <%= image_tag "icon-example.jpg", class: "border-radius small-icon" %>
            <h2 class="blurb-heading">Sally</h2>
            <p>"Using Linkedin is great, but I can never find small jobs to help with some pocket money. This app is perfect for my needs."</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="card-home padding">
            <%= image_tag "icon-example.jpg", class: "border-radius small-icon" %>
            <h2 class="blurb-heading">Jane</h2>
            <p>"I find so many side gigs with this app it's just crazy! I never knew all these little jobs existed. Highly recommend it!"</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="card-home padding">
            <%= image_tag "icon-example.jpg", class: "border-radius small-icon" %>
            <h2 class="blurb-heading">Mark</h2>
            <p>"I have found many people to help me with medial tasks that I would not have normally found on Linkedin. Really cool"</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
    </div>
</div>