<div class="hero-header">
    <div class="hero-image-container">
        <%= image_tag "hero-header-image.jpg", class: "hero-image" %>
    </div>
    <div class="hero-text-container">
        <h1>Anything Goes</h1>
        <h3>Need a job done? Find your perfect candidate today!</h3>
    </div>
</div>

<div class="container-home">
    <h1>A diverse job market place</h1>
    <div class="blurb-container flex space-around">
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
    </div>
</div>

<div class="container-home grey">
    <h1>Jobs and Candidates in your area</h1>
    <div class="blurb-container flex space-around">
        <div class="card-home">
            <%= image_tag "icon-example.jpg", class: "card-image" %>
            <div class="padding">
                <h2 class="blurb-heading">Heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                    <%= link_to "Learn more", class: "button-card" %>
            </div>
        </div>
        <div class="card-home">
            <%= image_tag "icon-example.jpg", class: "card-image" %>
            <div class="padding">
                <h2 class="blurb-heading">Heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                    <%= link_to "Learn more", class: "button-card" %>
            </div>
        </div>
        <div class="card-home">
            <%= image_tag "icon-example.jpg", class: "card-image" %>
            <div class="padding">
                <h2 class="blurb-heading">Heading</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                    <%= link_to "Learn more", class: "button-card" %>
            </div>
        </div>
    </div>
</div>

<div class="container-home orange padding-big">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam ei</p>

</div>

<div class="container-home">
    <h1>Easy to use</h1>
    <div class="blurb-container flex space-around">
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="blurb-home">
            <%= image_tag "icon-example.jpg", class: "blurb-image" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
    </div>
</div>

<div class="container-home grey">
    <h1>Testimonials</h1>
    <div class="blurb-container flex space-around">
        <div class="card-home padding">
            <%= image_tag "icon-example.jpg", class: "border-radius small-icon" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="card-home padding">
            <%= image_tag "icon-example.jpg", class: "border-radius small-icon" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
        <div class="card-home padding">
            <%= image_tag "icon-example.jpg", class: "border-radius small-icon" %>
            <h2 class="blurb-heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto</p>
                <%= link_to "Learn more", class: "button-card" %>
        </div>
    </div>
</div>